#header h1 { 
  position: absolute;
  left: 420px;
  top:5px;
  font-size: 3em;
  font-family: 'Devonshire', cursive;
  color: #E35335;
}

#header a#logo1 img { 
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#header {
  float: left;
  width: 100%;
  background-color: #333;
}

h2 strong

.image-r { 
  float: right;
  border: 2px solid blue;
  width: 300px;
  padding: 5px;
  background-color: white;
  margin: 10px 0 10px 20px;
}

